*.o
*.d
*.a
*.depend
*.layout
*.cscope_file_list
*~
.*
!.gitignore
*.obj
*.tlog
*.log
*.pdb
*.iobj
*.ipdb
Thumbs.db
build/
bc/src/libs/Irrlicht/irrlicht-svn/lib/Linux/
bc/src/libs/Irrlicht/irrlicht-svn/source/Irrlicht/src/
bc/src/libs/Irrlicht/irrlicht-svn/source/Irrlicht/tmp/
*.kdev4
bc/src/compile_commands.json

# (Linux) compilation artifacts
bc/bin/CMakeCache.txt
bc/bin/CMakeFiles/
bc/bin/Makefile
bc/bin/bridgecommand
bc/bin/bridgecommand-bc
bc/bin/bridgecommand-ed
bc/bin/bridgecommand-ini
bc/bin/bridgecommand-mc
bc/bin/bridgecommand-mh
bc/bin/bridgecommand-rp
bc/bin/cmake_install.cmake
bc/bin/compile_commands.json
bc/bin/controller/
bc/bin/editor/
bc/bin/iniEditor/
bc/bin/launcher/
bc/bin/libs/
bc/bin/multiplayerHub/
bc/bin/repeater/
